    <div class="card-content">
      <div class="row mb-2">
        <div class="mail">
            <div class="container">
              <div class="row">
                <div class="mail-card">
                  <div class="mail-content">
                    <img src="../../../../../assets/email.gif" class="mail-img" alt="Animation GIF">
                            <h2>Thanks For Choosing Us!</h2>
                            <p>We appreciate your trust and look forward to serving you. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
